version: "3.9"
services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: pulse
      POSTGRES_PASSWORD: pulse
      POSTGRES_DB: pulse
    ports:
      - "5433:5432"
    volumes:
      - pulse_pgdata:/var/lib/postgresql/data

volumes:
  pulse_pgdata:
